<!DOCTYPE html>
<html>
<head>
  <title>eTriever&apos;s Wells In My Back Yard</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "shared/header" %>
<%= yield %>
<%= render :partial => 'shared/googleish' %>

<%= javascript_include_tag "application" %>
</body>
</html>
